$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

$accent-color: #d41443;
$second-color: #d9d9d9;
$contacts-color: #907e82;
$accent-btn-color: #d41342;
$second-btn-color: #ecebeb;
$section-background: #ffb8ca;
$accent-background: #ffa5ba;
$transition-active: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
$menu-background: #e17992;
$border-primary-color: #e1e1e1;
$section-secondary-background: #fff5f6;
$fill-icons: #fea5bb;
$primary-white: #ffffff;
$custome-text: #000000;
