<section class="advantages" id="advantages">
  <h2 class="visually-hidden">Our Advantages</h2>
  <ul class="advanages__list">
    <li class="advantages__item">
      <p class="advantages__characteristic adv-icecream">
        <span class="advantages__num">721</span>
      </p>
      <span class="advantages__text"
        >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
      >
    </li>
    <li class="advantages__item">
      <p class="advantages__characteristic adv-apple">
        <span class="advantages__num">16</span>kg
      </p>
      <span class="advantages__text"
        >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
      >
    </li>
    <li class="advantages__item">
      <p class="advantages__characteristic adv-heart">
        <span class="advantages__num">84</span>
      </p>
      <span class="advantages__text"
        >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
      >
    </li>
  </ul>
</section>
