<section class="advantages" id="advantages">
  <h2 class="visually-hidden">Our Advantages</h2>
  <ul class="advanages__list">
    <li class="advantages__item">
      <p class="advantages__characteristic adv-icecream">721</p>
      <span class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
    </li>
    <li class="advantages__item">
      <p class="advantages__characteristic adv-apple">16kg</p>
      <span class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
    </li>
    <li class="advantages__item">
      <p class="advantages__characteristic adv-heart">84</p>
      <span class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
    </li>
  </ul>
</section>