<section id="contacts" class="section__contacts">
  <div class="container container__contacts">
    <div class="contacts">
      <h2 class="contacts__title visually-hidden">Contacts</h2>
      <ul class="contacts__list">
        <li id="chicago" class="contacts__item">
          <div class="contacts__name">
            <p class="contacts__meta">CAFE</p>
          </div>
          <address class="contacts__address">
            <p class="contacts__city">Chicago</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </address>
          <div class="contacts__time">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__ampm contacts__ampm--top">
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__ampm">08:00 AM - 16:00 PM</p>
          </div>
          <ul>
            <li>
              <a href="tel:+610383766284" class="contacts__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>

        <li id="losangeles" class="contacts__item">
          <div class="contacts__name contacts__name--green">
            <p class="contacts__meta">FOOD TRUCK</p>
          </div>
          <address class="contacts__address">
            <p class="contacts__city">Los Angeles</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </address>
          <div class="contacts__time">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__ampm contacts__ampm--top">
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__ampm">08:00 AM - 16:00 PM</p>
          </div>
          <ul>
            <li>
              <a href="tel:+610383766284 " class="contacts__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li id="newyork" class="contacts__item">
          <div class="contacts__name">
            <p class="contacts__meta">CAFE</p>
          </div>
          <address class="contacts__address">
            <p class="contacts__city">New York</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </address>
          <div class="contacts__time">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__ampm contacts__ampm--top">
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__ampm">08:00 AM - 16:00 PM</p>
          </div>
          <ul>
            <li>
              <a href="tel:+610383766284" class="contacts__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="contacts__modal-btns">
        <button
          type="button"
          class="contacts-btn contacts__btn-loc"

          data-modal-location-open

        >
          Our Locations
          <svg width="8" height="9">
            <use href="./images/icons.svg#icon-vector-white"></use>
          </svg>
        </button>

        <button type="button" class="contacts-btn" data-modal-franchise-open>

          Franchise
          <svg width="8" height="9" aria-label="icon button">
            <use href="./images/icons.svg#icon-btn"></use>
          </svg>
        </button>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</section>
