<section class="customer-review">
  <h2 class="visually-hidden">Customer reviews</h2>

  <div class="customer">
    <div class="customer__card">
      <picture>
        <source
          srcset="
            ./images/customer-reviews-1.png 1x,
            ./images/customer-reviews-1.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          class="customer__img img"
          src="./images/customer-reviews-1.png"
          alt="Emily, Los Angeles"
          width="85"
        />
      </picture>
      <p class="customer__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
        <div class="customer__text-gradient"></div>
      </p>
      <h3 class="customer__name">Emily, Los Angeles</h3>
    </div>
    <div class="customer__card">
      <picture>
        <source
          srcset="
            ./images/customer-reviews-3.png 1x,
            ./images/customer-reviews-3.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          class="customer__img img"
          src="./images/customer-reviews-3.png"
          alt="Rebeca, Chicago "
          width="85"
        />
      </picture>
      <p class="customer__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
        <div class="customer__text-gradient"></div>
      </p>
      <h3 class="customer__name">Rebeca, Chicago</h3>
    </div>
    <div class="customer__card">
      <picture>
        <source
          srcset="
            ./images/customer-reviews-4.png 1x,
            ./images/customer-reviews-4.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          class="customer__img img"
          src="./images/customer-reviews-4.png"
          alt="Emma, New York"
          width="85"
        />
      </picture>
      <p class="customer__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
        <div class="customer__text-gradient"></div>
      </p>
      <h3 class="customer__name">Emma, New York</h3>
    </div>

  </div>
</section>
