<footer class="footer">
  <div class="container footer__container">
    <div class="slogan footer__slogan">
      <p class="slogan__secondary">homemade ice cream made</p>
      <p class="slogan__primary">with passion</p>
    </div>
    <div class="footer__contacts">
      <ul class="social footer__social">
        <li class="social__item">
          <a
            href="https://github.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="social__link"
          >
            <svg class="social__icon">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://telegram.org/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="social__link"
          >
            <svg class="social__icon">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="social__link"
          >
            <svg class="social__icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="address footer__address">
        <p class="address__label">
          Feel free to contact
          <a href="tel:+610383766284" class="address__link"
            >+61 (0) 383 766 284</a
          >
        </p>
      </address>
    </div>
  </div>
  <ul class="copy footer__copy">
    <li class="copy__item">© 2022 - IceCream.</li>
    <li class="copy__item">All Rights Reserved.</li>
  </ul>
</footer>
<a href="#header" class="button-to-top">
  <svg class="button-to-top__icon">
    <use href="./images/icons.svg#icon-arrow-right"></use>
  </svg>
  Top
</a>
