<footer class="footer">
  <div class="container">
    <div class="slogan footer__slogan">
      <p class="slogan__secondary">homemade ice cream made</p>
      <p class="slogan__primary">with passion</p>
    </div>
    <div class="contacts footer__contacts">
      <ul class="social contacts__social">
        <li class="social__item"><a href="" class="social__link"></a></li>
        <li class="social__item"><a href="" class="social__link"></a></li>
        <li class="social__item"><a href="" class="social__link"></a></li>
      </ul>
      <address class="address contacts__address">
        <p class="address__label">Feel free to contact
          <a href="tel:+610383766284" class="address__link">+61 (0) 383 766 284</a>
        </p>
      </address>
    </div>
  </div>
  <div class="footer__copy">
    <p>© 2022 - IceCream.</p>
    <p> All Rights Reserved.</p>
  </div>
</footer>