<section class="gallery">
    <div class="grid">
        <div class="grid__item">
            <img src="./images/gallery-mobile-5.png" alt="icecream">
        </div>
    </div>
    <div class="grid">
        <div class="grid__item grid__item-top">
            <img src="./images/gallery-mobile-4.png" alt="icecream">
        </div>
        <div class="grid__item">
            <img src="./images/gallery-mobile-6.png" alt="icecream">
        </div>
    </div>
    <div class="grid">
        <div class="grid__item grid__item-top">
            <img src="./images/gallery-mobile-1.png" alt="icecream">
        </div>
        <div class="grid__item">
            <img src="./images/gallery-mobile-7.png" alt="icecream">
        </div>
    </div>
    <div class="grid grid__item-top">
        <div class="grid__item">
            <img src="./images/gallery-mobile-9.png" alt="icecream">
        </div>
        <div class="grid__item">
            <img src="./images/gallery-mobile-8.png" alt="icecream">
        </div>
    </div>
    <div class="grid">
        <div class="grid__item grid__item-top">
            <img src="./images/gallery-mobile-10.png" alt="icecream">
        </div>
        <div class="grid__item">
            <img src="./images/gallery-mobile-12.png" alt="icecream">
        </div>
    </div>
    <div class="grid">
        <div class="grid__item grid__item-right">
            <img src="./images/gallery-mobile-11.png" alt="icecream">
        </div>
    </div>
</section>