<section class="gallery">
    <h2 class="gallery__title">Gallary</h2>
    <div class="grid">
        <div class="grid__item">
            <picture>
                <source srcset="./images/gallery-5.png 1x, ./images/gallery-5@2x.png 2x" media="(min-width: 1200px)" />
                <source srcset="./images/gallery-tablet-5.png 1x,
        ./images/gallery-tablet-5@2x.png 2x" media="(min-width: 768px)">
                <img src="./images/gallery-mobile-5.png" alt="greem icecream" />
            </picture>
        </div>
    </div>
    <div class="grid">
        <div class="grid__item grid__item-top">
            <picture>
                <source srcset="./images/gallery-4.png 1x, ./images/gallery-4@2x.png 2x" media="(min-width: 1200px)" />
                <source srcset="./images/gallery-tablet-4.png 1x,
        ./images/gallery-tablet-4@2x.png 2x" media="(min-width: 768px)">
                <img src="./images/gallery-mobile-4.png" alt="icecream" />
            </picture>
        </div>
        <div class="grid__item">
            <picture>
                <source srcset="./images/gallery-6.png 1x, ./images/gallery-6@2x.png 2x" media="(min-width: 1200px)">
                <source srcset="./images/gallery-tablet-6.png 1x, ./images/gallery-tablet-6@2x.png 2x"
                    media="(min-width: 768px)">
                <img src="./images/gallery-mobile-6.png" alt="icecream" />
            </picture>
        </div>
    </div>
    <div class="grid">
        <div class="grid__item grid__item-top">
            <picture>
                <source srcset="./images/gallery-1.png 1x, ./images/gallery-1@2x.png 2x" media="(min-width: 1200px)">
                <source srcset="./images/gallery-tablet-1.png 1x, ./images/gallery-tablet-1@2x.png 2x"
                    media="(min-width: 768px)">
                <img src="./images/gallery-mobile-1.png" alt="icecream" />
            </picture>
        </div>
        <div class="grid__item">
            <picture>
                <source srcset="./images/gallery-7.png 1x, ./images/gallery-7@2x.png 2x" media="(min-width: 1200px)">
                <source srcset="./images/gallery-tablet-7.png 1x, ./images/gallery-tablet-7@2x.png 2x"
                    media="(min-width: 768px)">
                <img src="./images/gallery-mobile-7.png" alt="icecream" />
            </picture>
        </div>
    </div>
    <div class="grid .grid-pading-bottom-1">
        <div class="grid__item grid__item-top">
            <picture>
                <source srcset="./images/gallery-9.png 1x, ./images/gallery-9@2x.png 2x" media="(min-width: 1200px)" />
                <source srcset="./images/gallery-tablet-9.png 1x, ./images/gallery-tablet-9@2x.png 2x"
                    media="(min-width: 768px)">
                <img src="./images/gallery-mobile-9.png" alt="icecream" />
            </picture>
        </div>
        <div class="grid__item">
            <picture>
                <source srcset="./images/gallery-8.png 1x, ./images/gallery-8@2x.png 2x" media="(min-width: 1200px)" />
                <source srcset="./images/gallery-tablet-8.png 1x, ./images/gallery-tablet-8@2x.png 2x"
                    media="(min-width: 768px)">
                <img src="./images/gallery-mobile-8.png" alt="icecream" />
            </picture>
        </div>
    </div>
    <div class="grid grid-pading-bottom-2">
        <div class="grid__item grid__item-top">
            <picture>
                <source srcset="./images/gallery-10.png 1x, ./images/gallery-10@2x.png 2x"
                    media="(min-width: 1200px)" />
                <source srcset="./images/gallery-tablet-10.png 1x, ./images/gallery-tablet-10@2x.png 2x"
                    media="(min-width: 768px)" />
                <img src="./images/gallery-mobile-10.png" alt="icecream" />
            </picture>
        </div>
        <div class="grid__item">
            <picture>
                <source srcset="./images/gallery-12.png 1x, ./images/gallery-12@2x.png 2x"
                    media="(min-width: 1200px)" />
                <source srcset="./images/gallery-tablet-12.png 1x, ./images/gallery-tablet-12@2x.png 2x"
                    media="(min-width: 768px)" />
                <img src="./images/gallery-mobile-12.png" alt="icecream" />
            </picture>
        </div>
    </div>
    <div class="grid">
        <div class="grid__item grid__item-right">
            <picture>
                <source srcset="./images/gallery-11.png 1x, ./images/gallery-11@2x.png 2x"
                    media="(min-width: 1200px)" />
                <source srcset="./images/gallery-tablet-11.png 1x, ./images/gallery-tablet-11@2x.png 2x"
                    media="(min-width: 768px)" />
                <img src="./images/gallery-mobile-11.png" alt="icecream" />
            </picture>
        </div>
    </div>
</section>