<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <a class="logo" href="./index.html">
        <svg class="logo-icon" width="199" height="50">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link link curent" href="#index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#how-it’s-made?">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#how-it’s-made?">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#our-Locations">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mobile-open-btn">
      <svg
        class="mobile-open-btn__icon"
        width="20"
        height="18"
        aria-label="Переключатель мобильного меню"
      >
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <button type="button" class="header__btn btn">
      Buy now
      <svg class="header__btn-icon" width="6" height="8">
        <use href="./images/icons.svg#icon-btn"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu is-hidden">
    <div class="mobile-menu__container">
      <button type="button" class="mobile-close-btn">
        <svg class="mobile-close-btn__icon" width="14" height="14">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>

      <button type="button" class="mobile-menu__btn btn">
        Buy now
        <svg class="mobile-menu__btn-icon" width="6" height="8">
          <use href="./images/icons.svg#icon-btn"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu__wrap">
      <ul class="mobile-menu__list list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link curent" href="#index.html">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#how-it’s-made?">About us</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#How it’s made?"
            >How it’s made?</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#our-Locations">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<section class="hero">
  <div class="container hero__container">
    <div class="hero__buner">
      <h1 class="hero__title">ice cream made with <span>passion</span></h1>
      <ul class="hero__list">
        <li class="hero__item">
          <a href="#products" class="hero__link link"
            ><button type="button" class="hero__btn btn">Products</button></a
          >
        </li>
        <li class="hero__item">
          <a href="#how it’s made?"
            ><button type="button" class="hero__btn btn">
              How it’s made?
            </button></a
          >
        </li>
      </ul>
    </div>
    <div class="hero__content">
      <picture class="hero__content__img--milk">
        <source
          srcset="./images/heder-2.png 1x, ./images/heder-2@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/heder-2-tablet.png    1x,
            ./images/heder-2-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img src="./images/heder-2.png" alt="milk" width="213" />
      </picture>

      <p class="content__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <picture class="hero__content__img--icecream">
        <source
          srcset="./images/heder-3.png 1x, ./images/heder-3@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/heder-3-tablet.png    1x,
            ./images/heder-3-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/heder-3-mobile.png    1x,
            ./images/heder-3-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="content__img"
          src="./images/heder-3-mobile.png"
          alt="ice"
          width="236"
        />
      </picture>
    </div>
    <div class="hero__representative">
      <ul class="representative__list list">
        <li class="representative__item">
          16
          <br />
          <span>cafes</span>
        </li>
        <li class="representative__item">
          23
          <br />
          <span>food trucks</span>
        </li>
      </ul>
      <div class="content__box"></div>
      <picture class="content__img--woman">
        <source
          srcset="./images/heder-1.png 1x, ./images/heder-1@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/heder-1-tablet.png    1x,
            ./images/heder-1-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="content__img"
          src="./images/heder-1.png"
          alt="ice"
          width="304"
        />
        <img src="./images/heder-1.png" alt="milk" width="213" />
      </picture>
    </div>
  </div>
</section>
