<header class="header">
  <div class="container">
    <a class="logo" href="./index.html"> <img src="#" alt="logo-header" /></a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link link" href="#index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#how-it’s-made?">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#how-it’s-made?">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#our-Locations">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header__btn">Buy now</button>
  </div>
  <div class="mob-menu is-hidden">
    <button type="button" class="mob-btn-open">
      <svg class="mob-open-icon" width="14" height="14">
        <use href="#"></use>
      </svg>
    <button type="button" class="mob-btn-close">
      <svg class="mob-close-icon" width="14" height="14">
        <use href="#"></use>
      </svg>
    </button>
    <button type="button" class="mob-btn">
      <svg class="mob-icon" width="6" height="8">
        <use href="#"></use>
      </svg>
    </button>
    <div class="mob__container">
      <ul class="mob-menu__list list">
        <li class="mob-menu__item">
          <a class="mob-menu__link link" href="#index.html">Home</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link link" href="#how-it’s-made?">About us</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link link" href="#How it’s made?"
            >How it’s made?</a
          >
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link link" href="#products">Our products</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link link" href="#our-Locations">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<section class="hero">
  <div class="container">
    <div class="hero__buner">
      <h1 class="hero__title">ice cream made with <span>passion</span></h1>
      <a href="#products"
        ><button type="button" class="btn">Products</button></a
      >
      <a href="#how it’s made?"
        ><button type="button" class="btn">How it’s made?</button></a
      >
    </div>
    <div class="content">
      <img class="content__fon" src="#" alt="milk" />
      <p class="content__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <img class="content__img" src="#" alt="ice" />
    </div>
    <div class="__">
      <ul class="">
        <li class="">
          16
          <br />
          <span>cafes</span>
        </li>
        <li class="">
          23
          <br />
          <span>food trucks</span>
        </li>
      </ul>
      <img class="" src="#" alt="girl" />
    </div>
  </div>
</section>
