<div class="backdrop__location is-hidden" data-location>
  <div class="modal__location">
    <button
      type="button"
      class="modal__location__closeButton"
      data-modal-location-close
    >
      <svg width="20" height="20" class="modal__location__closeicon">
        <use href="./images/icons.svg#contacts-close-icon"></use>
      </svg>
    </button>
    <p class="modal__location-title">Visit us in LA</p>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.195222222838!2d-118.35089204874618!3d34.090138980500406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bed7b6ba77b5%3A0x659142f4cb9bc9d5!2s7253%20Santa%20Monica%20Blvd%2C%20West%20Hollywood%2C%20CA%2090046%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2sua!4v1658146291687!5m2!1sru!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="location-map"
    ></iframe>
    <a class="logo" href="./index.html">
      <svg class="logo-icon" width="199" height="50">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <p class="modal__location-pretitle">tradition and love</p>
  </div>
</div>
