  <div class="backdrop__franchise is-hidden" data-franchise>
    <div class="modal__franchise">
      <button
        type="button"
        class="modal__franchise__closeButton"
        data-modal-franchise-close
      >
       <svg width="20" height="20" class="modal__franchise__closeicon">
        <use href="./images/icons.svg#contacts-close-icon"></use>
      </svg>
      </button>
      <p class="modal__franchise-terms">Terms of the franchise agreement</p>      
    <ol class="modal__franchise-list">
      <li class="modal__franchise-item">
        <p> Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
      </li>
      <li class="modal__franchise-item">
        <p> Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Maecenas eleifend erat at justo fringilla.</p>
      </li>
      <li class="modal__franchise-item">
        <p> Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.</p> </li>
      <li class="modal__franchise-item">
        <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p> 
      </li>  
      <li class="modal__franchise-item">
       <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla. Fusce ut velit laoreet, tempus arcu eu, molestie tortor. </p> 
      </li>       
    </ol>
    <form class="js-speaker-form">
    <label class="modal__franchise-label"
              ><span class="modal__franchise-text">Leave your number and we will call you back
</span>             
              <input type="tel" name="Phone-number" class="modal__franchise-input" placeholder="0671111111"  required
                minlength="2"
                maxlength="20"
            /></label>
            <button type="submit" class="modal__btn">Send</button>     
            </form> 
    </div>
  </div>
</div>
