<section class="products" id="products">
  <div class="container__products">
    <p class="products__lable">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__list-item icecream-card">
        <h3 class="products__subtitle products__subtitle-crem">ice cream</h3>
        <p class="products__text">
          “Luba-Buba” soft pink ice cream has the same popular chewing gum taste
          and with its updated colors is suitable for both boys and girls et
        </p>
        <button
          class="products__btn"
          type="button"
          id="btn-1"
          arisl-lable="text switch"
        >
          <svg class="products__icon" width="16px" height="12px" id="icon-1">
            <use href="./images/icons.svg#icon-btn"></use>
          </svg>
        </button>
      </li>
      <li class="products__list-item icecoffee-card">
        <h3 class="products__subtitle products__subtitle-coffee">ice coffee</h3>
        <p class="products__text">
          Starbucks Frappuccino coffee drinks offer the bold, delicious taste of
          coffee with rich flavors and real milk et
        </p>
        <button
          class="products__btn"
          type="button"
          id="btn-1"
          arisl-lable="text switch"
        >
          <svg class="products__icon" width="16px" height="12px" id="icon-1">
            <use href="./images/icons.svg#icon-btn"></use>
          </svg>
        </button>
      </li>
      <li class="products__list-item milk-card">
        <h3 class="products__subtitle products__subtitle-milk">milk shakes</h3>
        <p class="products__text">
          Rich and velvety, this extra thick shake pops with chocolate and
          finishes silky smooth. et
        </p>
        <button
          class="products__btn"
          type="button"
          id="btn-1"
          arisl-lable="text switch"
        >
          <svg class="products__icon" width="16px" height="12px" id="icon-1">
            <use href="./images/icons.svg#icon-btn"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
