<section class="products">
    <p class="products-text">100% natural</p>
    <h1 class="products-title">products</h1>
    <ul class="products__list">
        <li class="products__item">
            <img class="products__img" src="./images/products-1-mobile.png" alt="" width="" height="" />
            <div class="products-content">
                <h2 class="products-content__title">ice cream</h2>
                <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et</p>
                <button class="products-content__btn" type="button">
                    <svg class="" width="26" height="26">
                        <use href=""></use>
                    </svg>
                </button>
            </div>
        </li>
        <li class="products__item">
            <img class="products__img" src="./images/products-2-mobile.png" alt="" width="368" height="394" />
            <div class="products-content">
                <h2 class="products-content__title">ice coffee</h2>
                <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et</p>
                <button class="products-content__btn" type="button">
                    <svg class="" width="26" height="26">
                        <use href=""></use>
                    </svg>
                </button>
            </div>
        </li>
        <li class="products__item">
            <img class="products__img" src="./images/products-3-mobile.png" alt="" width="368" height="394" />
            <div class="products-content">
                <h2 class="products-content__title">milkshakes</h2>
                <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et</p>
                <button class="products-content__btn" type="button">
                    <svg class="" width="26" height="26">
                        <use href=""></use>
                    </svg>
                </button>
            </div>
        </li>
    </ul>
</section>