.section__contacts {
  padding-top: 30px;
  padding-bottom: 20px;

  @include device($tablet) {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  @include device($desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  background: linear-gradient(#ffffff 23%, #fff5f6 23% 77%);

  @include device($tablet) {
    background: linear-gradient(#ffffff 47%, #fff5f6 47% 53%);
  }

  @include device($desktop) {
    background: linear-gradient(#ffffff 21%, #fff5f6 21% 79%);
  }
}

.container__contacts {
  display: flex;
  justify-content: center;
}

.contacts {
  max-width: 1200px;
}

.contacts-btn {
  border: none;
  border-radius: 22px;
  background: #ffffff;

  @include font-set(16px, 700, 1.31, false, $accent-color);
  font-family: inherit;
  transition: $transition-active;
  box-shadow: $box-shadow;

  width: 161px;
  padding: 11px 15px;
  &:focus,
  &:hover {
    background: $second-btn-color;
  }
  transition: $transition-active;
}

.contacts__btn-loc {
  margin-bottom: 12px;

  color: #ffffff;
  background: $accent-btn-color;

  &:focus,
  &:hover {
    background: #f7154d;
  }
  transition: $transition-active;

  @include device($tablet) {
    margin-right: 15px;
    margin-bottom: 0;
  }

  @include device($desktop) {
    margin-right: 12px;
  }
}

.contacts__btn-icon {
  margin-left: 10px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-bottom: 32px;

  @include device($tablet) {
    display: flex;
    gap: 32px;
    flex-direction: row;
    margin-bottom: 60px;
  }
}

.contacts__item {
  flex-basis: 100%;
  padding: 40px 32px;
  box-shadow: $box-shadow;
  border-radius: 24px;
  background-color: #ffffff;

  @include device($tablet) {
    flex-basis: calc((100% - 64px) / 3);
  }

  @include device($desktop) {
    padding: 40px;
  }
}

.contacts__name {
  display: inline-block;
  background: #f0d1a5;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 0 26px;

  @include device($tablet) {
    margin-bottom: 32px;
    padding: 2px 16px;
  }
}

.contacts__name--green {
  background: #c2e297;
}

.contacts__meta {
  @include font-set(12px, 500, 186%, 0.04em, #ffffff);

  @include device($tablet) {
    font-size: 16px;
  }
}

.contacts__address {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 24px;
  font-style: normal;

  @include device($tablet) {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.contacts__city {
  @include font-set(12px, 500, 186%, 0.04em, #000000);

  @include device($tablet) {
    font-size: 14px;
  }

  @include device($desktop) {
    font-size: 16px;
  }
}

.contacts__text {
  @include font-set(12px, 500, 1.5, 0.04em, $contacts-color);
  width: 159px;

  @include device($tablet) {
    font-size: 14px;
    line-height: 166%;
  }

  @include device($desktop) {
    width: 245px;
    font-size: 16px;
    line-height: 183%;
  }
}

.contacts__time {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 24px;

  @include device($tablet) {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.contacts__days {
  @include font-set(12px, 500, 186%, 0.04em, #000000);

  @include device($tablet) {
    font-size: 14px;
  }

  @include device($desktop) {
    font-size: 16px;
  }
}

.contacts__ampm {
  @include font-set(12px, 500, 186%, 0.04em, $accent-background);

  &--top {
    margin-bottom: 8px;
  }

  @include device($tablet) {
    font-size: 14px;
  }

  @include device($desktop) {
    font-size: 16px;

    &--top {
      margin-bottom: 12px;
    }
  }
}

.contacts__link {
  @include font-set(12px, 500, 1.5, false, $contacts-color);
  text-decoration: none;

  &:focus,
  &:hover {
    color: $accent-color;
  }
  transition: $transition-active;

  @include device($tablet) {
    font-size: 14px;
  }

  @include device($desktop) {
    font-size: 16px;
  }
}

.contacts__modal-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include device($tablet) {
    flex-direction: row;
  }
}
