.customer {
  width: 968px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 1200px) {
    width: 620px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (max-width: 768px) {
    width: 280px;
  }
}

.customer__img {
  display: flex;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .customer__img {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__img {
    margin-bottom: 16px;
  }
}
.customer__text::before {
  background-image: url(../images/markers.png);
  background-repeat: no-repeat;
}
.customer__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  color: #000000;
  padding: 43px 58px 26px 65px;
  background: #fafafa;
  background-image: repeating-linear-gradients(
    180deg,
    transparent,
    transparent 30px,
    #e1e1e1 31px
  );
  margin-bottom: 36px;
}
@media screen and (min-width: 768px) {
  .customer__text {
    font-size: 14px;
    line-height: 2.16;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 37px 55px 44px 50px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__text {
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 47px 109px 39px 109px;
    margin-bottom: 36px;
  }
}

.customer__name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  text-align: center;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .customer__name {
    font-size: 16px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1200px) {
  .customer__name {
    font-size: 20px;
  }
}

.slick-prev.slick-arrow {
  left: 0;
}
.slick-next.slick-arrow {
  right: 0;
}
.slick-dots {
  display: flex;
  justify-content: center;
  font-size: 0;
  border-radius: 50%;
  color: #c7133e;
}

.slick-active {
  color: #ffffff;
}
