.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 8px;
  @include device($tablet) {
    padding-top: 32px;
  }
  @include device($desktop) {
    padding-top: 37;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    display: none;
    @include device($tablet) {
      margin-left: 32px;
      display: block;
      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: calc(21 / 16);
      align-items: center;
      text-align: center;
      padding: 5px;
      color: $accent-color;
      height: 44px;
      min-width: 159px;
      background-color: #ffffff;
      border-radius: 22px;
      border: none;
      cursor: pointer;
      transition: background-color $transition-active;
      &:hover,
      &:focus {
        background-color: $second-btn-color;
      }
      &-icon {
        margin-left: 12px;
      }
    }
    @include device($desktop) {
      margin-left: auto;
    }
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  &__list {
    display: none;
    @include device($desktop) {
      display: flex;
      margin-left: 128px;
    }
  }
  &__link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);
    color: #ffffff;
    transition: color $transition-active;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__item:not(:last-child) {
    margin-right: 35px;
  }
}

.mobile-open-btn,
.mobile-close-btn {
  margin-left: auto;
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
}

.mobile-close-btn {
  margin-bottom: 26px;
}
.mobile-open-btn {
  @include device($desktop) {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  background-color: $menu-background;
  right: 0;
  top: 0;
  min-width: 250px;
  height: 100%;
  opacity: 1;
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  transform: translateX(0);
  transition: transform $transition-active, opacity $transition-active,
    visibility $transition-active, filter $transition-active;
  @include device($tablet) {
    min-width: 254px;
  }
  &.is-hidden {
    transform: translateX(100%);
  }

  &__container {
    padding: 20px;
    text-align: center;
  }
  &__item {
    padding-left: 20px;
    border-bottom: 1px solid #e18298;
    height: 42px;
    display: flex;
    align-items: center;

    &:first-child {
      border-top: 1px solid #e18298;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18 / 14);
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);
    align-items: center;
    text-align: center;
    padding: 10px;
    color: $accent-color;
    min-width: 100%;
    height: 44px;
    background: #ffffff;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    margin-bottom: 19px;
    transition: background-color $transition-active;
    @include device($tablet) {
      min-width: 186px;
    }

    &:hover,
    &:focus {
      background-color: $second-btn-color;
    }

    &-icon {
      margin-left: 16px;
    }
  }
}
.curent {
  color: $accent-color;
}

// -------------------Hero------------------

.hero {
  background-color: $section-background;
  height: 502px;
  @include device($tablet) {
    height: 416px;
  }
  @include device($desktop) {
    height: 664px;
  }

  &__container {
    padding: 20px;
    @include device($tablet) {
      padding: 32px;
    }
    @include device($desktop) {
      padding: 16px;
    }
  }

  &__title {
    margin-top: 192px;
    max-width: 218px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
    @include device($tablet) {
      max-width: 162px;
      margin-top: 102px;
      font-size: 22px;
      line-height: calc(25 / 22);
    }
    @include device($desktop) {
      max-width: 277px;
      font-size: 38px;
      line-height: 44px;
      letter-spacing: 0.04em;
      margin-top: 147px;
      margin-bottom: 24px;
    }

    & span {
      font-size: 48px;
      line-height: 0.965;
      text-transform: uppercase;
      color: $accent-color;
      @include device($tablet) {
        font-size: 34px;
        line-height: 0.905em;
      }
      @include device($desktop) {
        font-size: 58px;
        line-height: 0.905em;
      }
    }
  }

  &__list {
    display: flex;
  }

  &__btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 400;
    font-size: 8px;
    line-height: calc(10 / 8);
    align-items: center;
    text-align: center;
    padding: 0 10px;
    color: $accent-color;
    min-width: 82px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color $transition-active;
    @include device($desktop) {
      font-size: 14px;
      line-height: calc(18 / 14);
      min-width: 138px;
      height: 40px;
    }
    .hero__item:first-child & {
      min-width: 62px;
      transition: background-color $transition-active;
      background-color: $accent-color;
      color: #ffffff;
      @include device($desktop) {
        min-width: 107px;
      }
    }
    &:hover,
    &:focus {
      background-color: $second-btn-color;
    }
  }

  &__item:first-child {
    margin-right: 8px;
    @include device($desktop) {
      margin-right: 12px;
    }
  }
  &__content {
    display: none;
    @include device($tablet) {
      //   прописати стилі картинок
    }
    @include device($desktop) {
      //   прописати стилі картинок
    }
  }
  &__representative {
    display: none;
    @include device($tablet) {
      //
    }
    @include device($desktop) {
      //
    }
  }
}
.content__text {
  margin-top: 61px;
  margin-left: 184px;
  width: 114px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
}
